---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="p-4 text-center h-[78vh] flex flex-col justify-center">
    <h2 class="text-5xl mb-7">Oops!</h2>

    <p>Page not found!</p>
    <p>
      Go back <a href="/" class="dark:text-base-pink text-base-purple">home</a>?
    </p>
  </div>
</BaseLayout>
