---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="101VinylZ - Home Page">
  <h2 class="text-3xl md:text-5xl">
    <span class="text-red-500">1</span><span class="text-orange-500">0</span
    ><span class="text-red-500">1</span>Vinyl<span class="text-purple-500"
      >Z</span
    >
  </h2>

  <p>We make custom decals too!</p>
  <p>Check out our Etsy shop to view our catalogue.</p>
</BaseLayout>

<style>
  h2 {
    font-family: "Bushidoo", monospace;
  }
</style>
