---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import Gallery from "../components/Gallery.astro";

console.log("hi to the node env");
---

<BaseLayout pageTitle="101VinylZ - Home Page">
  <h2 class="text-3xl md:text-5xl">
    <span class="text-red-500">1</span><span class="text-orange-500">0</span
    ><span class="text-red-500">1</span>Vinyl<span class="text-purple-500"
      >Z</span
    >
  </h2>

  <main class="flex flex-col items-center w-full px-3 text-center">
    <p>
      From cars to computers to windows. Our vinyls come in different shapes and
      colour. Highly durable for indoor or outdoor use.
    </p>
    <img src="/square_logo.webp" alt="" srcset="" class="w-1/2 md:w-4/12" />
    <p>Easy to apply to any surface.</p>
    <p>We make custom decals too!</p>
    <p>Check out our Etsy shop to view our catalogue.</p>
    <br />
    <h2 class="text-xl">
      <span class="text-red-500">G</span><span class="text-orange-500">A</span
      ><span class="text-red-500">L</span>ler<span class="text-purple-500"
        >Y</span
      >
    </h2>
    <hr class="w-52" />
    <Gallery />
  </main>
</BaseLayout>

<style>
  h2 {
    font-family: "Bushidoo", monospace;
  }
</style>
