---
import "../styles/global.css";
import SiteTitleColorsTag from "../components/SiteTitleColorsTag.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Gallery from "../components/Gallery.astro";
import { Image } from "astro:assets";

import InstaIcon from "../../public/insta.svg";
import EtsyIcon from "../../public/etsy-icon.svg";
---

<BaseLayout pageTitle="101VinylZ - Home Page">
  <main class="flex flex-col items-center w-full text-center text-stone-200">
    <span class="mt-2">
      <SiteTitleColorsTag text="101VINYLZ" textColor="white" />
    </span>
    <!-- HERO AREA -->
    <section class="p-4">
      <p>
        From cars to computers to windows. Our vinyls come in different shapes
        and colour. Highly durable for indoor or outdoor use.
      </p>

      <div class="flex justify-center w-full h-44">
        <img src="/square_logo.webp" alt="" srcset="" class="w-1/2 md:w-4/12" />
      </div>
      <p>Easy to apply to any surface.</p>
      <p>We make custom decals too!</p>
      <p>Check out our Etsy shop to view our catalogue.</p>
      <br />
    </section>

    <!-- GALLERY -->
    <section class="p-4">
      <SiteTitleColorsTag text="GALLERY" textColor="'white" />
      <hr class="w-52" />
      <Gallery />
      <br />
    </section>

    <!-- CONTACT US  -->
    <section
      class="min-h-[45vh] bg-stone-800 text-white flex p-12 justify-center"
    >
      <div class="">
        <SiteTitleColorsTag text="CONTACT INFO" textColor="white" />
        <hr class="w-52" />
      </div>

      <div class="flex flex-col justify-center items-center">
        <br />
        <p>Inquiries</p>
        <a href="mailto:contact101vinylz@yahoo.com"
          >contact101vinylz@yahoo.com</a
        >
        <a href="https://www.etsy.com/shop/101vinylz" class="my-3">
          <Image src={EtsyIcon} alt="" width="60" />
        </a>
        <p>Browse our shop!</p>
        <a href="https://www.instagram.com/101vinylz/" class="my-3">
          <Image src={InstaIcon} alt="" width="60" />
        </a>
        <p>Follow us on Instagram!</p>
      </div>
    </section>
  </main>
</BaseLayout>

<style>
  section {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
  }
</style>
