---

---

<footer
  class="w-full px-2 py-6 text-center bg-stone-950 text-stone-200 border-t border-stone-700"
>
  <p>© 101VinylZ</p>
  <p>Developed by Sanjeet Sidhu</p>
  <p>Built with Astro</p>
</footer>
