---

---

<footer class="w-full px-2 py-6 text-center border-t border-stone-700">
  <p>© 101 Vinylz</p>
  <span class="text-sm">
    <p>Developed by Sanjeet Sidhu</p>
    <p>Built with Astro</p>
  </span>
</footer>
