---
import SiteTitleColorsTag from "./SiteTitleColorsTag.astro";
---

<header
  class="w-full bg-base-dark-purp min-h-[5vh] sticky top-0 flex justify-between p-4 items-center border-b border-base-light-purp z-50"
>
  <div class="text-3xl pl-3">
    <SiteTitleColorsTag text="101VINYLZ" textColor="white" />
  </div>

  <nav class="text-stone-100 font-semibold text-lg">
    <a
      href="https://www.etsy.com/shop/101vinylz"
      class="mr-3"
      title="View our store">Etsy</a
    >
    <a href="mailto:contact101vinylz@yahoo.com" class="mr-3" title="Contact us"
      >Contact Us</a
    >
  </nav>
</header>
