---

---

<header
  class="w-full bg-green-200 min-h-[6vh] md:min-h-[8vh] sticky top-0 flex justify-between p-4 items-center"
>
  <div>
    <h1 class="text-3xl md:text-5xl">
      <span class="text-red-500">1</span><span class="text-orange-500">0</span
      ><span class="text-red-500">1</span>Vinyl<span class="text-purple-500"
        >Z</span
      >
    </h1>
  </div>

  <nav class="text-blue-500 font-semibold">
    <a href="https://www.etsy.com/shop/101vinylz" class="mr-1">Etsy</a>
    <a href="#" class="mr-1">Contact Us</a>
  </nav>
</header>

<style>
  h1 {
    font-family: "Bushidoo", monospace;
  }
</style>
