---
const { text } = Astro.props;

const title = text || "101VINYLZ";
---

<h2 class="dark:text-white text-black">
  <span class="text-red-500">{title[0]}</span><span class="text-orange-500"
    >{title[1]}</span
  ><span class="text-red-500">{title[2]}</span>{
    title.slice(3, title.length - 1)
  }<span class="text-purple-500">{title[title.length - 1]}</span>
</h2>

<style>
  h2 {
    font-family: "Bushidoo", fantasy;
  }
</style>
