---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      property="og:description"
      content="101 Vinylz is your one stop shop to get your hands vinyl decals - custom or premade - for personal or retail use. Our vinyls stick to all types of smooth surfaces."
    />
    <meta property="og:site_name" content="101 Vinylz" />
    <meta
      property="og:url"
      property="url"
      content="https://www.101vinylz.com"
    />
    <title>{pageTitle}</title>
  </head>
  <body class="bg-zinc-900">
    <div class="flex items-center flex-col min-h-[100vh] md:min-h-[92vh]">
      <Navigation />
      <slot />
      <Footer />
    </div>
  </body>
</html>
